{% extends "base.html" %}
{% block content  %}
</head>
<body>
<h1 align="center">Buy whatever you need</h1><br>
<div class="body1"><ul>
    {% for n in buydata  %}
    <li><div class="product">
        <img src="/media/{{n.item_img}}" alt="Product 1">  
        
        <div class="details">
            <h2>{{n.item_title}}</h2>
            <p>{{n.item_detail}}</p>
            <ul>
                <li>Quantity:-{{n.item_quant}}</li>
                <li>Price/unit:-{{n.item_price}}</li>
                <li>Date:-{{n.item_date}}</li>
            </ul>
            <div class="options">
                <a href="{% url "buysell" %}?images={{n.item_img}}&title={{n.item_title}}&details={{n.item_detail}}&quantity={{n.item_quant}}&price={{n.item_price}}&date={{n.item_date}}" class="sell-btn">Buy</a>
            </div>
        </div>
        
    </div></li>
    {% endfor %}</ul>
</div>
</body>
<style>
    
.body1 {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    {% comment %} height: 100vh; {% endcomment %}
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    padding: 20px;
}

.product img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.details {
    flex: 1;
}

.options {
    margin-top: 10px;
}

.sell-btn, .buy-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.sell-btn:hover, .buy-btn:hover {
    background-color: #0056b3;
}

.footer{
    background-color: #57871f87;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    align-self: end;
        


    }
</style>
{% endblock  %}